td.success {
    background: #4df758; 
}

td.failure {
    background: #ff6161; 
}

td.pending {
    background: #fffa91; 
}

td.unknown {
    background: #dbdbdb; 
}

a.github-sha {
    font-family: monospace; 
    font-size: 0.9rem;
}

div.ui-container {
    padding-top: 4rem;
    padding-left: 2rem;  
    width: 50%;
}